<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    </style>
</head>
<body>
    <header>
        <div class="banner">
        <img src="https://alltimelines.com/wp-content/uploads/2019/10/homepagebanner-dc.jpg" alt="" style="width: 100%;">
        </div>
    </header>

    <section class="content">
        <div class="top">
            <h1>Must Read Collections</h1>
            <p>Check out what’s new on DC UNIVERSE INFINITE and explore our catalog of over 25,000 comics and graphic novels from DC, Vertigo, DC Black Label and Milestone Media!</p>
          </div>
          </section>
    <div class="comics">
        <a href="" class="bookmarks">SUPERMAN VS. SHAZAM</a>
        <a href="" class="bookmarks">THE JOKER</a>
        <a href="" class="bookmarks">WONDER WOMAN</a>
        <a href="" class="bookmarks">FALLEN ANGEL</a>
        <a href="" class="bookmarks">RED HOOD: OUT LAW</a>
    </div>
    <section>
    <div class="row"> <!--Starting Row1-->
        <div class="column main" id="Comic1">
          <h2 class="heading">SUPERMAN VS. SHAZAM</h2> 
          <p>Two of DC’s greatest heroes collide in this era-spanning, action-packed collection! The Man of Steel and the World’s Mightiest Mortal are two of the strongest men imaginable, but what happens when they find themselves facing each other? And when Billy Batson is trapped and the powers of Shazam stolen, will the Man of Steel be able to save him? Collects Superman #216, The Power of Shazam! #46, Kingdom Come #4, DC Comics Presents #33, #34, and #49, DC Comics Presents Annual #3, and All-New Collectors’ Edition #C-58.</p>
        </div>

        <div class="column main">
            <h2>THE JOKER</h2>
            <p>Following the events of Infinite Frontier #1, the Joker is the most wanted man in the world! But the Clown Prince of Crime is several steps ahead of law enforcement—and he’s on the run overseas. James Gordon, facing retirement, realizes this is the manhunt of his life and the last piece of a storied career…but what mysterious and deadly forces are also in pursuit of the Joker?</p>
      
      <p>And in the backup story, following the events of the smash hit Punchline #1, DC’s most controversial new villain navigates the infrastructure of Blackgate Penitentiary. While on the outside, Harper Row takes up the mantle of Bluebird to stop her brother from falling under Punchline’s influence..</p>
          </div>   
        <div class="column photo">
          <img src="https://www.dccomics.com/sites/default/files/styles/covers192x291/public/gn-covers/2021/03/SMvSHZ_CV_FINAL_603d88ff7a5a23.92628094.jpg">
        </div>
      </div>
      </section>
</body>
</html>